<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>1</key> <string>א</string>
    <key>2</key> <string>ב</string>
    <key>3</key> <string>ג</string>
    <key>4</key> <string>ד</string>
    <key>5</key> <string>ה</string>
    <key>6</key> <string>ו</string>
    <key>7</key> <string>ז</string>
    <key>8</key> <string>ח</string>
    <key>9</key> <string>ט</string>
    <key>10</key> <string>י</string>
    <key>11</key> <string>יא</string>
    <key>12</key> <string>יב</string>
    <key>13</key> <string>יג</string>
    <key>14</key> <string>יד</string>
    <key>15</key> <string>ט״ו</string>
    <key>16</key> <string>ט״ז</string>
    <key>17</key> <string>יז</string>
    <key>18</key> <string>יח</string>
    <key>19</key> <string>יט</string>
    <key>20</key> <string>כ</string>
    <key>21</key> <string>כא</string>
    <key>22</key> <string>כב</string>
    <key>23</key> <string>כג</string>
    <key>24</key> <string>כד</string>
    <key>25</key> <string>כה</string>
    <key>26</key> <string>כו</string>
    <key>27</key> <string>כז</string>
    <key>28</key> <string>כח</string>
    <key>29</key> <string>כט</string>
    <key>30</key> <string>ל</string>
    <key>31</key> <string>לא</string>
    <key>32</key> <string>לב</string>
    <key>33</key> <string>לג</string>
    <key>34</key> <string>לד</string>
    <key>35</key> <string>לה</string>
    <key>36</key> <string>לו</string>
    <key>37</key> <string>לז</string>
    <key>38</key> <string>לח</string>
    <key>39</key> <string>לט</string>
    <key>40</key> <string>מ</string>
    <key>41</key> <string>מא</string>
    <key>42</key> <string>מב</string>
    <key>43</key> <string>מג</string>
    <key>44</key> <string>מד</string>
    <key>45</key> <string>מה</string>
    <key>46</key> <string>מו</string>
    <key>47</key> <string>מז</string>
    <key>48</key> <string>מח</string>
    <key>49</key> <string>מט</string>
    <key>50</key> <string>נ</string>
    <key>51</key> <string>נא</string>
    <key>52</key> <string>נב</string>
    <key>53</key> <string>נג</string>
    <key>54</key> <string>נד</string>
    <key>55</key> <string>נה</string>
    <key>56</key> <string>נו</string>
    <key>57</key> <string>נז</string>
    <key>58</key> <string>נח</string>
    <key>59</key> <string>נט</string>
    <key>60</key> <string>ס</string>
    <key>61</key> <string>סא</string>
    <key>62</key> <string>סב</string>
    <key>63</key> <string>סג</string>
    <key>64</key> <string>סד</string>
    <key>65</key> <string>סה</string>
    <key>66</key> <string>סו</string>
    <key>67</key> <string>סז</string>
    <key>68</key> <string>סח</string>
    <key>69</key> <string>סט</string>
    <key>70</key> <string>ע</string>
    <key>71</key> <string>עא</string>
    <key>72</key> <string>עב</string>
    <key>73</key> <string>עג</string>
    <key>74</key> <string>עד</string>
    <key>75</key> <string>עה</string>
    <key>76</key> <string>עו</string>
    <key>77</key> <string>עז</string>
    <key>78</key> <string>עח</string>
    <key>79</key> <string>עט</string>
    <key>80</key> <string>פ</string>
    <key>81</key> <string>פא</string>
    <key>82</key> <string>פב</string>
    <key>83</key> <string>פג</string>
    <key>84</key> <string>פד</string>
    <key>85</key> <string>פה</string>
    <key>86</key> <string>פו</string>
    <key>87</key> <string>פז</string>
    <key>88</key> <string>פח</string>
    <key>89</key> <string>פט</string>
    <key>90</key> <string>צ</string>
    <key>91</key> <string>צא</string>
    <key>92</key> <string>צב</string>
    <key>93</key> <string>צג</string>
    <key>94</key> <string>צד</string>
    <key>95</key> <string>צה</string>
    <key>96</key> <string>צו</string>
    <key>97</key> <string>צז</string>
    <key>98</key> <string>צח</string>
    <key>99</key> <string>צט</string>
    <key>100</key> <string>ק</string>
    <key>101</key> <string>קא</string>
    <key>102</key> <string>קב</string>
    <key>103</key> <string>קג</string>
    <key>104</key> <string>קד</string>
    <key>105</key> <string>קה</string>
    <key>106</key> <string>קו</string>
    <key>107</key> <string>קז</string>
    <key>108</key> <string>קח</string>
    <key>109</key> <string>קט</string>
    <key>110</key> <string>קי</string>
    <key>111</key> <string>קיא</string>
    <key>112</key> <string>קיב</string>
    <key>113</key> <string>קיג</string>
    <key>114</key> <string>קיד</string>
    <key>115</key> <string>קט״ו</string>
    <key>116</key> <string>קט״ז</string>
    <key>117</key> <string>קיז</string>
    <key>118</key> <string>קיח</string>
    <key>119</key> <string>קיט</string>
    <key>120</key> <string>קכ</string>
    <key>121</key> <string>קכא</string>
    <key>122</key> <string>קכב</string>
    <key>123</key> <string>קכג</string>
    <key>124</key> <string>קכד</string>
    <key>125</key> <string>קכה</string>
    <key>126</key> <string>קכו</string>
    <key>127</key> <string>קכז</string>
    <key>128</key> <string>קכח</string>
    <key>129</key> <string>קכט</string>
    <key>130</key> <string>קל</string>
    <key>131</key> <string>קלא</string>
    <key>132</key> <string>קלב</string>
    <key>133</key> <string>קלג</string>
    <key>134</key> <string>קלד</string>
    <key>135</key> <string>קלה</string>
    <key>136</key> <string>קלו</string>
    <key>137</key> <string>קלז</string>
    <key>138</key> <string>קלח</string>
    <key>139</key> <string>קלט</string>
    <key>140</key> <string>קמ</string>
    <key>141</key> <string>קמא</string>
    <key>142</key> <string>קמב</string>
    <key>143</key> <string>קמג</string>
    <key>144</key> <string>קמד</string>
    <key>145</key> <string>קמה</string>
    <key>146</key> <string>קמו</string>
    <key>147</key> <string>קמז</string>
    <key>148</key> <string>קמח</string>
    <key>149</key> <string>קמט</string>
    <key>150</key> <string>קנ</string>
    <key>151</key> <string>קנא</string>
    <key>152</key> <string>קנב</string>
    <key>153</key> <string>קנג</string>
    <key>154</key> <string>קנד</string>
    <key>155</key> <string>קנה</string>
    <key>156</key> <string>קנו</string>
    <key>157</key> <string>קנז</string>
    <key>158</key> <string>קנח</string>
    <key>159</key> <string>קנט</string>
    <key>160</key> <string>קס</string>
    <key>161</key> <string>קסא</string>
    <key>162</key> <string>קסב</string>
    <key>163</key> <string>קסג</string>
    <key>164</key> <string>קסד</string>
    <key>165</key> <string>קסה</string>
    <key>166</key> <string>קסו</string>
    <key>167</key> <string>קסז</string>
    <key>168</key> <string>קסח</string>
    <key>169</key> <string>קסט</string>
    <key>170</key> <string>קע</string>
    <key>171</key> <string>קעא</string>
    <key>172</key> <string>קעב</string>
    <key>173</key> <string>קעג</string>
    <key>174</key> <string>קעד</string>
    <key>175</key> <string>קעה</string>
    <key>176</key> <string>קעו</string>
    <key>177</key> <string>קעז</string>
    <key>178</key> <string>קעח</string>
    <key>179</key> <string>קעט</string>
    <key>180</key> <string>קפ</string>
    <key>181</key> <string>קפא</string>
    <key>182</key> <string>קפב</string>
    <key>183</key> <string>קפג</string>
    <key>184</key> <string>קפד</string>
    <key>185</key> <string>קפה</string>
    <key>186</key> <string>קפו</string>
    <key>187</key> <string>קפז</string>
    <key>188</key> <string>קפח</string>
    <key>189</key> <string>קפט</string>
    <key>190</key> <string>קצ</string>
    <key>191</key> <string>קצא</string>
    <key>192</key> <string>קצב</string>
    <key>193</key> <string>קצג</string>
    <key>194</key> <string>קצד</string>
    <key>195</key> <string>קצה</string>
    <key>196</key> <string>קצו</string>
    <key>197</key> <string>קצז</string>
    <key>198</key> <string>קצח</string>
    <key>199</key> <string>קצט</string>
    <key>200</key> <string>ר</string></dict>
</plist>
